.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: #2b3044;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  background: rgb(237, 255, 235);
  background: radial-gradient(
    circle,
    rgba(237, 255, 235, 1) 0%,
    rgba(255, 255, 255, 1) 57%,
    rgba(255, 236, 247, 1) 91%
  );
  animation: change 10s ease-in-out infinite;
  background-size: 400% 400%;
}

.wrapper {
  max-width: 700px;
}

.code {
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
  padding: 2px;
  background-color: #2b3044;
  color: #fff;
}

.text {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

.graphic {
  font-size: 1.4rem;
  font-family: 'Schoolbell', cursive;
}

.internet {
  cursor: progress;
}

.technologies {
  font-size: 0.9rem;
  font-family: 'Press Start 2P', cursive;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 25% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 0 50%;
  }
}
