.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: #2b3044;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  background-image: #bbff99;
  background-image: radial-gradient(
      at 91% 58%,
      hsla(245, 61%, 66%, 0.3) 0,
      transparent 48%
    ),
    radial-gradient(at 73% 12%, hsla(288, 61%, 79%, 0.3) 0, transparent 49%),
    radial-gradient(at 56% 73%, hsla(35, 60%, 65%, 0.3) 0, transparent 50%),
    radial-gradient(at 8% 8%, hsla(198, 81%, 79%, 0.3) 0, transparent 43%),
    radial-gradient(at 68% 31%, hsla(37, 85%, 75%, 0.3) 0, transparent 53%),
    radial-gradient(at 77% 12%, hsla(44, 97%, 62%, 0.3) 0, transparent 58%),
    radial-gradient(at 28% 84%, hsla(250, 94%, 67%, 0.3) 0, transparent 52%);
  animation: change 10s ease-in-out infinite;
  background-size: 400% 400%;
}

@media screen and (max-width: 992px) {
  .container {
    background-size: 800% 800%;
  }
}

.wrapper {
  max-width: 700px;
}

.code {
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
  padding: 2px;
  background-color: #2b3044;
  color: #fff;
}

.text {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

.graphic {
  font-size: 1.4rem;
  font-family: 'Schoolbell', cursive;
}

.internet {
  cursor: progress;
}

.technologies {
  font-size: 0.9rem;
  font-family: 'Press Start 2P', cursive;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 25% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 0 50%;
  }
}
